{% extends 'base.html.twig' %}

{% block title %}Tous nos biens :{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="jumbtrom text-center">
        <h1> Voir tous nos biens</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab officia repellat temporibus, possimus alias aperiam dolores, mollitia, omnis architecto earum quod molestiae culpa id! Ab nostrum aliquid cupiditate corporis at?</p>

    </div>
</div>
{% endblock %}
